/* Commit Mono (self-hosted)
 * Source: https://commitmono.com/
 * License: SIL Open Font License 1.1 (see ../assets/fonts/commit-mono/commit-mono-license.txt)
 */

@font-face {
  font-family: "Commit Mono";
  src: url("../assets/fonts/commit-mono/CommitMono-300-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commit Mono";
  src: url("../assets/fonts/commit-mono/CommitMono-300-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Commit Mono";
  src: url("../assets/fonts/commit-mono/CommitMono-400-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commit Mono";
  src: url("../assets/fonts/commit-mono/CommitMono-400-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Commit Mono";
  src: url("../assets/fonts/commit-mono/CommitMono-700-Regular.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commit Mono";
  src: url("../assets/fonts/commit-mono/CommitMono-700-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
